body{

background:#0f172a;
color:white;
font-family:Arial;

}

.container{

width:400px;
margin:auto;
padding:20px;

}

button{

background:#3b82f6;
border:none;
padding:10px;
color:white;
border-radius:8px;

}

input{

padding:8px;
margin:10px;

}
